body {
    font-family: sans-serif;
}

h1 {
    font-size: 140%;
}

h2 {
    font-size: 120%;
}
input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}


.clickable {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.solution {
    display: none;
    font-weight: bold;
    color: green;
    border: solid 1pt black;
        padding-top: 4pt;
    padding-bottom: 4pt;

}

.note {
    color: black;
    font-weight: normal;
    background-color: #AAA;
    padding-right: 10pt;
    padding-left: 10pt;
    padding-top: 4pt;
    padding-bottom: 4pt;
}
.scontent {
    padding-left: 20pt;
}